/* ----------------------------------------- */

body {
    margin: 0;
}

/* The Top navigation bar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li:last-child {
    padding-right: 20px;
}

nav a, .dropbtn {
    display: inline-block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li > a:hover, .dropdown:hover .dropbtn {
    color: white;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .right {
    float: right;
}

nav .login {
    color: white;
    background-color: dodgerblue;
    border: 0;
    padding: 10px 26px;
    margin-top: 5px;
}

.logo {
    height: 28px;
    padding-top: 8px;
    padding-left: 10px;
}


/* The Container */
.container {
    padding-top: 50px;
}