/* ----------------------------------------- */

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: url("#{resource['images/home.jpg']}") no-repeat ;
}

.bg {
    background-image: url("#{resource['images/home.jpg']}");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    position: fixed;
    top: 0;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav li {
    float: left;
}

header nav li:last-child {
    padding-right: 20px;
}

header nav a, header .dropbtn {
    display: inline-block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav > ul > li > a:hover, header .dropdown:hover .dropbtn {
    color: white;
}

header nav li.dropdown {
    display: inline-block;
}

header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header .dropdown-content a:hover {
    background-color: #f1f1f1
}

header .dropdown:hover .dropdown-content {
    display: block;
}

header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

header nav .right {
    float: right;
}

header nav .right a {
    color: white;
    display: flex;
    border: 5px solid #333;
    background-color: dodgerblue;
    padding: 10px;
    text-align: center;
}

header nav .login {
    color: white;
    background-color: dodgerblue;
    border: 0;
    padding: 10px 26px;
    margin-top: 5px;
}

header .logo {
    height: 28px;
    padding-top: 8px;
    padding-left: 10px;
}


/* The Container */
.container {
    padding: 50px;

}

.container .filter {
    background-color: white;
    padding: 10px;
    margin: 10px;
    float: left;
    width: 300px;
}

.container .filter h4 {
    background-color: #333333;
    padding: 10px;
    color: white;
}

.container .filter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.container .filter ul .select  {
    padding: 10px;
    border-bottom: white solid 2px;
    float: top;

}

.container .filter ul .select label  {
    width: 60%;
}

.container .filter ul .select input  {
    width: 70%;
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
}

.container .filter ul .select select  {
    width: 55%;
    background-color: #f1f1f1;
}

.container .contenu {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width:calc(100% - 380px);
    float: left;

}

.container .contenu div table {
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}

.container .contenu div table td, .container .contenu div table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.container .contenu div table tr:nth-child(even){background-color: #f2f2f2;}

.container .contenu div table tr:hover {background-color: #ddd;}

.container .contenu div table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: white;
}

.container .contenu div table th a {
    color: white;
    text-align: left;
    display: inline-block;
    text-decoration: none;
}

#scrolltable { margin-top: 20px; max-height: 400px; overflow: auto; }
#scrolltable table { border-collapse: collapse; }
#scrolltable tr:nth-child(even) { background: #EEE; }
#scrolltable th div { position: absolute; margin-top: -10px; }

/* footer */
.footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

.footer section {
    float: left;
    padding-right: 50px;
}
.footer section:first-child {
    padding-left: 50px;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer h4 {
    padding-bottom: 6px;
    padding-right:  16px;
    padding-left: 16px;
}

.footer li a {
    display: block;
    color: dodgerblue;
    text-align: left;
    padding: 4px 16px;
    text-decoration: none;
}

.footer ul li:last-child a {
    padding-bottom: 30px;
}


#scorettile {
 
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: #999;}

  #scorettile .copyright {
    width: 50%;
    float: left;
  }
   #scorettile .copyright p {
      padding-left: 10%;
      color: white;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-size: 1.7em;
      font-family: sans-serif;
      margin-top: 0%;
    }
    
 #scorettile .score {
      width: 50%;
      float: right;
  }
 #scorettile .score a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold; 
    }
  

#scorettile .score .support {

  background-color: #6dcd9a;;
  font-size: 1.2em;
  width:100%;
}
.textStyle{
    font-size: 24px;
}

#ff{
position: relative;
margin-top: -100px;
clear: both;
margin-left: 350px;
}


.footer {
  width: 100%;
  position: inherit;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}


.inner {
  margin: 0 auto;
  width: 75rem;
  max-width: calc(100% - 6rem); }
  @media screen and (max-width: 480px) {
    .inner {
      max-width: calc(100% - 3rem); } }