<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- This name is used by other tools like GlassFish statistics or log4j2 logs -->
    <display-name>web-xml-display-name</display-name>
    <!-- Configure JSF : Set session timeout -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Show JSF debugging information in server log (when we forget to add <h:messages> to facelets page) -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value> <!-- TODO: parameterize this. -->
    </context-param>
    <!-- Start page -->
    <welcome-file-list>
        <welcome-file>home.xhtml</welcome-file>
    </welcome-file-list>
    <!-- Data source Localhost -->
    <data-source>
        <name>java:app/jdbc/localhost</name>
        <class-name>com.mysql.jdbc.jdbc2.optional.MysqlDataSource</class-name>
        <url>jdbc:mysql://localhost:3306/vote</url>
        <user>upecadmin</user>
        <password>upecadmin</password>
        <transactional>true</transactional>
        <isolation-level>TRANSACTION_READ_COMMITTED</isolation-level>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
        <max-statements>0</max-statements>
    </data-source>
</web-app>